<p>---------------------------------------------------</p>


<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
<input type="text" name="login" ngModel placeholder="login"/><br><br>
<input type="text" name="password" ngModel placeholder="password"/><br><br>
<button type="submit">submit</button>
</form>


                <div *ngFor="let i of users">
                    <p>Log: {{i?.login}}</p>
                    <p>Pass: {{i?.password}}</p>
                  </div>




               